@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  background: pink !important;
}
.page__content p {
  color: red !important;
  font-size: 2em !important;
  background: yellow !important;
}
