.page__content p {
  text-align: justify;
}

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
  font-family: 'Lora', serif !important;
}

html, body, p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif !important;
}
